@import "../Variables/Variable.scss";
.post-detail-header {
  width: 80%;
  border-radius: 6px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  height: 130px;
  //   display: flex;
  margin: 0px auto;
  display: flex;
  .header-image {
    display: inline-block;
    img {
      width: 210px;
      height: 130px;
    }
  }
  .header-content-left {
    .header-top {
      margin-top: 10px;
      .post-folder-name {
        font-family: $koreanFont;
        font-size: 22px;
        margin-left: 2vh;
      }
    }
    .header-middle {
      display: flex;
      flex-wrap: wrap;
      .post-title-name {
        justify-content: flex-start;
        margin: 0px 8vh 0px 2vh;
        font-family: $koreanFont;
        font-weight: bold;
        color: $darkMintColor;
        font-size: 32px;
      }
      .post-info-container {
        display: flex;
        align-items: center;
        .post-info {
          font-family: $koreanFont;
          font-size: 20px;
          font-weight: 500;
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
    .header-bottom {
      width: 160%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 5px;
      .post-author {
        font-family: $mainFont;
        font-weight: bold;
        font-size: 20px;
        color: $regularMintColor;
        margin-left: 2.5vh;
        margin-right: 30vh;
      }
      .post-tag-container {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        .info-button {
          background-color: $whiteColor;
          border-radius: 6px;
          width: 15vh;
          height: 30px;
          display: inline-block;
          text-align: center;
          line-height: 170%;
        }
        .post-info {
          font-family: $koreanFont;
          font-weight: 300;
        }
      }
    }
  }
}
