@import "../Variables/Variable.scss";
.post-detail-header {
  width: 80%;
  border-radius: 6px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  height: 130px;
  //   display: flex;
  margin: 0px auto;
  .header-image {
    display: inline-block;
    img {
      width: 130px;
      height: 130px;
    }
  }
  .header-content {
    display: inline-block;
    width: calc(100%-130px);
    .header-top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 15px;
      .post-folder-name {
        font-family: $koreanFont;
        font-size: 24px;
        margin-left: 2vh;
      }
      .without-car-checkbox-true {
        font-family: $mainFont;
        font-size: 18px;
        position: relative;
        margin-right: 2vh;
      }
    }
    .header-middle {
      .post-title-name {
        display: flex;
        justify-content: flex-start;
        margin-top: 15px;
        font-family: $koreanFont;
        font-weight: bold;
        color: $darkMintColor;
        font-size: 35px;
        margin-left: 2vh;
      }
    }
    .header-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 5px;
      .post-author {
        font-family: $koreanFont; //regex써서 english, korean구별
        font-weight: bold;
        font-size: 20px;
        color: $regularMintColor;
        margin-left: 2vh;
        margin-right: 30vh;
      }
      .post-info-container {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        .info-button {
          background-color: $whiteColor;
          border-radius: 6px;
          width: 15vh;
          height: 30px;
          display: inline-block;
          text-align: center;
          line-height: 170%;
        }
        .post-info {
          font-family: $koreanFont;
          font-weight: 500;
        }
      }
    }
  }
}
