@import "../Variables/Variable.scss";
@import "./reset.scss";

.post-detail-container {
  width: 80%;
  margin: 0px auto;
}
.post-detail-header {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  height: 160px;
  display: flex;
  margin: 0px auto;
  display: flex;
  .header-image {
    display: inline-block;
    img {
      width: 210px;
      height: 160px;
    }
  }
  .header-content-left {
    .header-top {
      margin-top: 10px;
      .post-folder-name {
        font-family: $koreanFont;
        font-size: 22px;
        margin-left: 2vh;
        margin-top: 15px;
      }
    }
    .header-middle {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      .post-title-name {
        justify-content: flex-start;
        margin: 15px 8vh 0px 2vh;
        font-family: $koreanFont;
        font-weight: bold;
        color: $darkMintColor;
        font-size: 32px;
      }
      .post-info-container {
        display: flex;
        align-items: center;
        .post-info {
          font-family: $koreanFont;
          font-size: 20px;
          font-weight: 500;
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
    .header-bottom {
      width: 160%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 25px;
      width: 100%;
      .post-author {
        font-family: $mainFont;
        font-weight: bold;
        font-size: 20px;
        color: $regularMintColor;
        margin-left: 2.5vh;
        margin-right: 20vh;
      }
      .post-tag-container {
        display: flex;
        justify-content: space-evenly;
        .post-tag {
          display: flex;
          flex-wrap: wrap;
          background-color: $whiteColor;
          border-radius: 6px;
          height: 30px;
          display: inline-block;
          text-align: center;
          margin-left: 3vh;
          margin-right: 0px;
          font-family: $mainFont;
          font-weight: 400;
          font-size: 15px;
          padding: 10px;
          line-height: 50%;
        }
        .false {
          visibility: None;
        }
      }
    }
  }
  .header-content-right {
    display: flex;
    justify-content: flex-end;
    .post-cart-button {
      background-color: $regularMintColor;
      border-radius: 6px;
    }
  }
}

.post-detail-body {
  display: flex;
  justify-content: space-between;
  .body-route-container {
    width: 60%;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    height: 200px;
    margin: 20px 0px;
  }

  .body-map-container {
    width: 38%;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    height: 200px;
    margin: 20px 0px;
  }
}
