$purpleColor: #9867ff;
$darkMintColor: #57ceb9;
$regularMintColor: #95ecdc;
$lightMintColor: #c7eee7;
$blackColor: #000000;
$darkGrayColor: #a7a9af;
$regularGrayColor: #caccd2;
$lightGrayColor: #e2e3e9;
$whiteColor: #f6f6f9;
$mainFont: "Montserrat", Monospace;
$koreanFont: "Noto Sans CJK KR", Monospace;
