@import "../../Variables/Variables.scss";

.create-edit-content-container {
  display: flex;
  flex-direction: row;
  margin: 2.3vw 10vw 0vw 10vw;
  max-height: 83.5vw;
  margin-bottom: 32vw;
  padding-bottom: 30px;

  .create-edit-place-section {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-right: 1.97vw;
    padding: 0.885vw 1.5vw 4.6vw 1.5vw;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .my-routes-title {
    margin-bottom: 1.145vw;
    font-family: $koreanFont;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.437rem;
    color: #000000;
    display: flex;
    .select-route-button {
      margin-left: 1vw;
      margin-top: 0vh;
      cursor:pointer;
      img:last-child {
        display: none;
      }
      &:hover {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: inline-block;
        }
      }
    }
  }

  .create-edit-routes-section {
    margin-left: 21px;
  }

  .delete-icon {
    width: 10px;
    margin-left: 10px;
  }
}
