@import "../../Variables/Variables.scss";

.place-search-container {
  .create-place-container {
    margin-bottom: 1.45vw;
  }
}

.create-place-container {
  background-color: #FFFFFF;
  padding: 1.04vw;

  .place-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .place-title {
      font-family: $koreanFont;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: #000000;
    }
  
    .place-cart-button-container {
      display: flex;

      .place-cart-button {
        border: none;
        border-radius: 50%;
        padding: 6px;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        margin-left: 5px;
  
        .search {
          background-color: $lightMintColor;
          &:hover {
            background-color: $darkMintColor;
          }
        }
      }
  
      .place-cart-button.place {
        background-color: $lightMintColor;
        &:hover {
          background-color: $darkMintColor;
        }
      }
  
      .place-cart-button.place.delete {
        background-color: $lightGrayColor;
      }

      .place-cart-button.place.disabled {
        background-color: $regularGrayColor;
        cursor: default;
        .post-icon {
          cursor: default;
        }
      }
  
      .place-cart-button.route.add {
        background-color: $regularGrayColor;
        cursor: default;
        .post-icon {
          cursor: default;
        }
      }
  
      .place-cart-button.route.remove {
        background-color: $lightMintColor;
        &:hover {
          background-color: $darkMintColor;
        }
      }
  
      .place-cart-button.search.selected {
        background-color: white;
      }
  
      .post-icon {
        width: 18px;
        height: 18px;
        cursor: pointer;
      }
    }
    
  }

  .place-container-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .place-description,
    .place-description-input {
      width: 70%;
      font-weight: normal;
      font-size: 15px;
      font-family: $mainFont;
      color: #000000;
      word-wrap: break-word;
      word-break: break-all;
    }

    .post-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .place-info-container {
    .place-info {
      margin-top: 10px;
      min-height: 40px;
      .place-info-column {
        margin-bottom: 10px;
        font-family: $mainFont;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: $purpleColor;
      }
    }

    & + .invisible {
      display: none;
    }
  }
}