@import "../../Variables/Variables.scss";
.Footer {
  background-color: lightgray;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  .logo {
    font-size: 25px;
    font-weight: 1000;
  }
  .footer-explanation {
    font-size: 20px;
    font-weight: 700;
  }
  .logo,
  .footer-explanation {
    color: white;
    font-family: $mainFont;
    display: flex;
    justify-content: center;

    text-shadow: 1px 1px 0.5px black;
  }
}
