@import "../../Variables/Variables.scss";
.Footer {
  background-color: $lightGrayColor;
  margin-top: 100px;
  padding: 70px 10vw;
  font-size: 13px;
  font-family: $mainFont;
  color: $darkGrayColor;

  .footer-name {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
