@import "../../Variables/Variables.scss";

.profile {
  display: flex;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: $darkMintColor;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 20px;
}

.folder {
  display: flex;
  flex-direction: row;
  width: 85vw;
  margin: 50px auto;
  .left {
    flex-shrink: 0;
    width: 270px;
    height: 100%;
    margin-bottom: 100px;
    background: $whiteColor;
    border-radius: 6px;
    margin-right: 20px;
    font-weight: 600;
    padding: 0 20px;

    .folderHead {
      display: flex;
      justify-content: space-between;
      font-family: $mainFont;
      font-style: normal;
      padding: 10px;
      margin: 10px 0;
      color: $darkMintColor;
      border-radius: 10px;
      .icon {
        width: 20px;
        margin-right: 5%;
      }
      &:hover {
        background: white;
      }
    }
    .folder-input-container {
      width: 80%;
      margin-top: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
      height: 100px;
    }
    .eachItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      width: 100%;
      padding: 10px;
      font-weight: 400;
      font-family: $koreanFont;
      &:hover {
        background: #e2e3e9;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
        cursor: pointer;
      }

      .folder-name {
        padding: 10px;
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .icon {
        width: 15px;
        margin-right: 10px;
      }
    }
    button {
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      cursor: pointer;
      &:hover {
        background: $darkMintColor;
      }
      &:active {
        outline: none;
        border: none;
      }
      &:focus {
        outline: 0;
      }
    }
  }

  .right {
    flex-shrink: 2;
    height: max-content;
    width: 900px;
    min-height: 300px;
    background: $whiteColor;
    border-radius: 6px;
    padding-top: 10px;
    color: $blackColor;

    .posts-container {
      display: flex;

      .folder-my-posts,
      .folder-posts,
      .folder-places {
        display: flex;
        flex-direction: column;
      }
      .liked-posts, .shared-posts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .folder-my-posts,
      .folder-posts {
        min-width: 330px;
      }

      .folder-places {
        min-width: 230px;
      }
      .folder-title {
        font-family: $koreanFont !important;
        font-weight: 600;
        color: white;
        background-color: $darkMintColor;
        padding: 10px 30px;
        border-radius: 20px;
        margin: 10px auto;
      }
    }
  }
}
