.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", Monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #57ceb9;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 20px;
}

.folder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85vw;
  margin: 50px auto;
}

.folder .left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 270px;
  height: 100%;
  margin-bottom: 100px;
  background: #F5F6F9;
  border-radius: 6px;
  margin-right: 20px;
  font-weight: 600;
  padding: 0 20px;
}

.folder .left .folderHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", Monospace;
  font-style: normal;
  padding: 10px;
  margin: 10px 0;
  color: #57ceb9;
  border-radius: 10px;
}

.folder .left .folderHead .icon {
  width: 20px;
  margin-right: 5%;
}

.folder .left .folderHead:hover {
  background: white;
}

.folder .left .folder-input-container {
  width: 80%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  height: 100px;
}

.folder .left .eachItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  width: 100%;
  padding: 10px;
  font-weight: 400;
  font-family: "Noto Sans CJK KR", Monospace;
}

.folder .left .eachItem:hover {
  background: #e2e3e9;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.folder .left .eachItem .folder-name {
  padding: 10px;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder .left .eachItem .icon {
  width: 15px;
  margin-right: 10px;
}

.folder .left button {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.folder .left button:hover {
  background: #57ceb9;
}

.folder .left button:active {
  outline: none;
  border: none;
}

.folder .left button:focus {
  outline: 0;
}

.folder .right {
  -ms-flex-negative: 2;
      flex-shrink: 2;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 900px;
  min-height: 300px;
  background: #F5F6F9;
  border-radius: 6px;
  padding-top: 10px;
  color: #000000;
}

.folder .right .posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.folder .right .posts-container .folder-my-posts,
.folder .right .posts-container .folder-posts,
.folder .right .posts-container .folder-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.folder .right .posts-container .liked-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.folder .right .posts-container .folder-my-posts,
.folder .right .posts-container .folder-posts {
  min-width: 330px;
}

.folder .right .posts-container .folder-places {
  min-width: 230px;
}

.folder .right .posts-container .folder-title {
  font-family: "Noto Sans CJK KR", Monospace !important;
  font-weight: 600;
  color: white;
  background-color: #57ceb9;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 10px auto;
}
/*# sourceMappingURL=MyPage.css.map */