@import '../../Variables/Variables.scss';

.my-routes-container {
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 6px;
  justify-content: center;
  width: 22vw;

  .my-routes-day-btn {
    background-color: #CACBD2;
    border-radius: 6px 6px 0 0;
    padding: 0.468vw 1.04vw;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
  }

  .my-routes-day-btn.selected {
    background-color: #F5F6F9;
    color: #000000;
  }

  .my-routes-day-btn + .my-routes-day-btn {
    margin-left: 7px;
  }

  .my-routes-places {
    background-color: #F5F6F9;
  }

  .my-routes-places-container {
    background-color: #F5F6F9;
    padding: 2.3vw 1vw;
    min-height: 700px;
  }
}