@import "../../Variables/Variables.scss";

.path-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.73vw 0 0.73vw 3vw;
  font-family: $koreanFont;
  font-size: 13px;

  select {
    margin-left: 20px;
    width: 80px;
    height: 35px;
    padding: 5px;
    border-radius: 4px;
    outline: 0 none;
    border: none;
    background-color: white;
    color: $blackColor;
    font-size: 13px;
    font-weight: 400;
  }

  .path-select-container {
    margin: 0 15px;
  }
}