@import "../../Variables/Variables.scss";

.path-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.73vw 0 0.73vw 3vw;
  font-family: $koreanFont;

  select {
    margin-left: 20px;
    height: 35px;
    padding: 5px 25px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
    border: none;
    background-color: white;
    color: $blackColor;
    font-size: 15px;
    font-weight: 400;
  }

  .path-select-container {
    margin: 0 1.6vw;
  }

  .post-detail-path {
    font-size: 14px;
    font-weight: 500;
    margin-left: 30px;
  }
}