.post-detail-container {
  width: 80%;
  margin: 0px auto;
}

.post-detail-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-detail-body .body-route-container {
  width: 60%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin: 20px 0px;
}

.post-detail-body .body-route-container .route-day-info {
  background-color: #F5F6F9;
  margin: 15px;
  font-size: 25px;
  font-family: "Montserrat", Monospace;
  font-weight: 600;
  padding: 20px;
}

.post-detail-body .body-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px 20px 20px;
  width: 40%;
}

.post-detail-body .body-left-container .body-comments-container {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin: 20px 0px;
}

.post-detail-body .body-left-container .comments-container .each-comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0px 10px 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post-detail-body .body-left-container .comments-container .each-comment-container .each-comment-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.post-detail-body .body-left-container .comments-container .each-comment-container .each-comment-top .each-profile-image {
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-detail-body .body-left-container .comments-container .each-comment-container .each-comment-top .each-comment-author {
  font-family: "Montserrat", Monospace;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 12px;
  color: #000000;
}

.post-detail-body .body-left-container .comments-container .each-comment-container .each-comment-top .each-comment-content {
  font-family: "Noto Sans CJK KR", Monospace;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}

.post-detail-body .body-left-container .comments-container .each-comment-container .each-comment-created-at {
  display: block;
  margin-left: 5px;
  font-family: "Montserrat", Monospace;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}

.folder-select-modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 100px;
  height: 600px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.folder-select-modal .folder-modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.folder-select-modal .folder-modal-top .folder-modal-title {
  margin: 20px;
  font-family: "Montserrat", Monospace;
  font-size: 35px;
  color: #57ceb9;
  font-weight: bold;
}

.folder-select-modal .folder-modal-top .close-button {
  border: none;
  border-radius: 30px;
  background-color: #95ecdc;
  color: #ffffff;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.folder-select-modal .folder-modal-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.folder-select-modal .folder-modal-middle .folder-modal-name {
  margin: 10px;
  height: 50px;
  font-family: "Montserrat", Monospace;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  line-height: 50%;
  background-color: #F5F6F9;
  cursor: pointer;
}

.folder-select-modal .folder-modal-middle .folder-modal-name:hover {
  background-color: #95ecdc;
}

.folder-select-modal .folder-modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.folder-select-modal .folder-select-button {
  border: none;
  cursor: pointer;
  width: 80px;
  height: 50px;
  border-radius: 15px;
  font-family: "Montserrat", Monospace;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 120%;
}

.comment-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

.comment-input {
  width: 300px;
  background: #F5F6F9;
  border: none;
  border-radius: 6px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  font-size: 15px;
}

.comment-submit {
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Noto Sans CJK KR", Monospace;
  color: #57ceb9;
  font-weight: bold;
  background-color: transparent;
}

.comment-submit:hover {
  background-color: #F5F6F9;
  cursor: pointer;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

#delete-comment-button img {
  width: 15px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
}

#delete-comment-button img:last-child {
  display: none;
}

#delete-comment-button:hover img:first-child {
  display: none;
}

#delete-comment-button:hover img:last-child {
  display: inline-block;
}

.visible-false {
  display: none;
}

.logged {
  cursor: pointer;
}
/*# sourceMappingURL=PostDetail.css.map */