@import '../../Variables/Variables.scss';

.search-research {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: $darkMintColor;
}
.postitem-container {
  margin: 15px;
  padding: 15px 10px;
  width: 300px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  .thumbnail img {
    width: 260px;
    height: 230px;
  }

  .title-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .title {
      margin: 0 20px 5px 20px;
      font-family: $koreanFont;
      font-style: normal;
      font-weight: 600px;
      font-size: 20px;
    }
  }

  .content {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 10px;

      .author_name {
        font-family: $mainFont;
        font-style: normal;
        font-weight: 400px;
        font-size: 15px;
        color: #ffffff;
        padding: 3px 3px 3px 3px;
        background-color: $darkMintColor;
        border-radius: 10%;
        justify-content: end;
        height: 20px;
      }

      .counts {
        display: flex;
        flex-direction: row;
        align-items: center;

        .post-comment-icon {
          margin-left: 10px;
          margin-right: 4px;
        }
        .post-like-icon {
          margin-right: 4px;
        }
      }
    }
    
  }
}

.search-research-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
.search-research {
  margin-left: 5%;
}
