.search-container .search {
  margin-left: 20%;
  margin-right: 20%;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container .search .search-svg {
  margin-left: 3%;
}

.search-container .search .search-keyword {
  border: none;
  margin-left: 10%;
  width: 80%;
}

.search-container .search .search-button {
  background-color: #57ceb9;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  border-radius: 4px;
  padding: 1.2% 1.2% 1.2% 1.2%;
  font-family: "Montserrat", Monospace;
  font-style: normal;
  color: #ffffff;
}

.search-container .filter {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.search-container .filter button {
  background-color: #ffffff;
}

.search-container .filter .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 2%;
}

.search-container .filter .category {
  font-family: "Montserrat", Monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-left: 5%;
  color: #000000;
  width: 20%;
}

.search-container .filter .search-location {
  border: none;
  margin-right: 4%;
}

.search-container .filter .lines {
  border: 0.1px solid #969696;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3%;
  margin-bottom: 1.3%;
}

.search-container .filter .seasons,
.search-container .filter .themes,
.search-container .filter .transportation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-container .filter .seasons .season-clicked, .search-container .filter .seasons .theme-clicked,
.search-container .filter .themes .season-clicked,
.search-container .filter .themes .theme-clicked,
.search-container .filter .transportation .season-clicked,
.search-container .filter .transportation .theme-clicked {
  font-family: "Noto Sans CJK KR", Monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5%;
  border-radius: 6px;
  padding-left: 1%;
  padding-right: 1%;
  color: #57ceb9;
}

.search-container .filter .seasons .season:hover,
.search-container .filter .seasons .season-clicked:hover,
.search-container .filter .seasons .theme:hover,
.search-container .filter .seasons .theme-clicked:hover,
.search-container .filter .themes .season:hover,
.search-container .filter .themes .season-clicked:hover,
.search-container .filter .themes .theme:hover,
.search-container .filter .themes .theme-clicked:hover,
.search-container .filter .transportation .season:hover,
.search-container .filter .transportation .season-clicked:hover,
.search-container .filter .transportation .theme:hover,
.search-container .filter .transportation .theme-clicked:hover {
  background-color: #f3f4f5;
}

.search-container .filter .season,
.search-container .filter .theme {
  font-family: "Noto Sans CJK KR", Monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5%;
  border-radius: 6px;
  padding-left: 1%;
  padding-right: 1%;
  color: #9f9f9f;
}

.search-container .filter .transportation {
  padding-bottom: 2%;
}

.search-container .filter .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container .filter .days .search-days {
  border: none;
  width: 10%;
}

.search-container .sorting {
  margin-left: 2%;
  border-radius: 3px;
  font-family: "Noto Sans CJK KR", Monospace;
  font-style: normal;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  padding: 0 10px;
}

.search-container .sorting-clicked {
  margin-left: 2%;
  color: #57ceb9;
  border-radius: 3px;
  font-family: "Noto Sans CJK KR", Monospace;
  font-style: normal;
}

.search-container .sorting:hover, .search-container .sorting-clicked:hover {
  background-color: #f3f4f5;
}

.search-container .search-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=Search.css.map */