.search-container {
  font-family: "Montserrat", Monospace;
}

.search-container .search {
  margin: 30px auto;
  width: 50vw;
  padding: 13px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-container .search .search-svg {
  width: 30px;
}

.search-container .search .search-keyword {
  border: none;
  margin: 0 15px;
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
}

.search-container .search .search-button {
  background-color: #57ceb9;
  border-radius: 4px;
  padding: 10px 20px;
  font-family: "Montserrat", Monospace;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}

.search-container .filter {
  margin: 80px 20vw;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 13px 30px;
}

.search-container .filter button {
  background-color: #ffffff;
}

.search-container .filter .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-container .filter .category {
  font-family: "Montserrat", Monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  color: #000000;
  width: 20%;
}

.search-container .filter .search-location {
  border: none;
  width: 60%;
  font-size: 14px;
}

.search-container .filter .lines {
  border-bottom: 0.1px solid #e2e3e9;
  width: 100%;
  margin: 13px auto;
}

.search-container .filter .seasons,
.search-container .filter .themes,
.search-container .filter .transportation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-container .filter .seasons .season-clicked, .search-container .filter .seasons .theme-clicked,
.search-container .filter .themes .season-clicked,
.search-container .filter .themes .theme-clicked,
.search-container .filter .transportation .season-clicked,
.search-container .filter .transportation .theme-clicked {
  font-family: "Noto Sans CJK KR", Monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5%;
  border-radius: 6px;
  padding-left: 1%;
  padding-right: 1%;
  color: #57ceb9;
}

.search-container .filter .seasons .season:hover,
.search-container .filter .seasons .season-clicked:hover,
.search-container .filter .seasons .theme:hover,
.search-container .filter .seasons .theme-clicked:hover,
.search-container .filter .themes .season:hover,
.search-container .filter .themes .season-clicked:hover,
.search-container .filter .themes .theme:hover,
.search-container .filter .themes .theme-clicked:hover,
.search-container .filter .transportation .season:hover,
.search-container .filter .transportation .season-clicked:hover,
.search-container .filter .transportation .theme:hover,
.search-container .filter .transportation .theme-clicked:hover {
  background-color: #f3f4f5;
}

.search-container .filter .season, .search-container .filter .location {
  font-family: "Montserrat", Monospace;
}

.search-container .filter .theme {
  font-family: "Noto Sans CJK KR", Monospace;
}

.search-container .filter .season,
.search-container .filter .theme {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5%;
  border-radius: 6px;
  padding-left: 1%;
  padding-right: 1%;
  color: #9f9f9f;
}

.search-container .filter .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container .filter .days .search-days {
  border: none;
  width: 10%;
}

.search-container .filter input {
  margin-left: 10px;
  font-family: "Montserrat", Monospace;
}

.search-container .search-result-container {
  margin: 0 auto;
  width: 80vw;
  padding-top: 30px;
}

.search-container .search-result-container .search-result-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 15px;
}

.search-container .search-result-container .search-result-header .search-result-title {
  font-family: "Montserrat", Monospace;
  font-weight: 600;
  font-size: 20px;
  color: #57ceb9;
}

.search-container .search-result-container .search-result-header .search-result-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container .search-result-container .search-result-header .search-result-sorting .sorting, .search-container .search-result-container .search-result-header .search-result-sorting .sorting-clicked {
  margin-left: 10px;
  border-radius: 6px;
  font-family: "Noto Sans CJK KR", Monospace;
  font-style: normal;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  padding: 8px 20px;
}

.search-container .search-result-container .search-result-header .search-result-sorting .sorting:hover, .search-container .search-result-container .search-result-header .search-result-sorting .sorting-clicked:hover {
  background-color: #f3f4f5;
}

.search-container .search-result-container .search-result-header .search-result-sorting .sorting-clicked {
  color: #57ceb9;
}

.search-container .search-result-container .search-result-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=Search.css.map */