@import "../../Variables/Variables.scss";

.search-container {
  font-family: $mainFont;

  .middle-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    margin-top: 2%;
    padding-bottom: 4%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .search {
    margin: 30px auto;
    width: 50vw;
    padding: 13px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;

    .search-svg {
      width: 30px;
    }
    .search-keyword {
      border: none;
      margin: 0 15px;
      padding: 5px 10px;
      font-size: 14px;
      width: 100%;
    }
    .search-button {
      cursor: pointer;
      background-color: $darkMintColor;
      border-radius: 4px;
      padding: 10px 20px;
      font-family: $mainFont;
      font-weight: 600;
      font-style: normal;
      color: #ffffff;
    }
  }

  .filter {
    width: 70%;
    background-color: #ffffff;
    border-radius: 6px;

    button {
      background-color: #ffffff;
    }

    .location {
      display: flex;
      flex-direction: row;

      select {
        margin-right: 10px;
        padding: 5px 20px 5px 10px;
        border-radius: 4px;
        outline: 0 none;
        border: none;
        background-color: $whiteColor;
        color: $darkGrayColor;
        font-family: $koreanFont;
        font-size: 13px;
        font-weight: 400;
        option {
          background-color: white;
          font-family: $koreanFont;
          color: $blackColor;
          padding: 3px 0;
        }
      }
    }

    select.selected {
      color: $blackColor;
      font-family: $koreanFont;
    }
    .category {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 27px;
      color: #000000;
      width: 20%;
    }
    .search-location {
      border: none;
      width: 60%;
      font-size: 14px;
    }
    .lines {
      border-bottom: 0.1px solid $lightGrayColor;
      width: 100%;
      margin: 13px auto;
    }
    .seasons,
    .themes,
    .transportation {
      display: flex;
      flex-direction: row;
      .season-clicked,
      .theme-clicked {
        font-family: $koreanFont;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        margin-right: 5%;
        border-radius: 6px;
        padding-left: 1%;
        padding-right: 1%;
        color: #57ceb9;
      }
      .season:hover,
      .season-clicked:hover,
      .theme:hover,
      .theme-clicked:hover {
        background-color: #f3f4f5;
      }
    }

    .season,
    .location {
      font-family: $mainFont;
    }
    .theme {
      font-family: $koreanFont;
    }

    .season,
    .theme {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      margin-right: 5%;
      border-radius: 6px;
      padding-left: 1%;
      padding-right: 1%;
      color: #9f9f9f;
    }
    .days {
      display: flex;
      .search-days {
        border: none;
        width: 20%;
      }
    }
    input {
      margin-left: 10px;
      font-family: $mainFont;
    }
  }

  .search-result-container {
    margin: 0 auto;
    width: 80vw;
    padding-top: 30px;

    .search-result-header {
      display: flex;
      justify-content: space-between;
      margin: 20px 15px;

      .search-result-title {
        font-family: $mainFont;
        font-weight: 600;
        font-size: 20px;
        color: $darkMintColor;
      }

      .search-result-sorting {
        display: flex;

        .sorting,
        .sorting-clicked {
          margin-left: 10px;
          border-radius: 6px;
          font-family: $koreanFont;
          font-style: normal;
          align-items: flex-end;
          background-color: white;
          padding: 8px 20px;
          &:hover {
            background-color: #f3f4f5;
          }
        }

        .sorting-clicked {
          color: $darkMintColor;
        }
      }
    }
    .search-result-content {
      .no-result {
        border-radius: 6px;
        font-family: $koreanFont;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: #f5f6f9;
        width: 85%;
        padding-top: 5%;
        padding-bottom: 5%;
        font-weight: 400;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
