@import "../../Variables/Variables.scss";
.search {
  margin-left: 20%;
  margin-right: 20%;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.search {
  display: flex;
}
.search-keyword {
  border: none;
  margin-left: 10%;
  width: 80%;
}
.search-button {
  background-color: $darkMintColor;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  border-radius: 4px;
  padding: 1.2% 1.2% 1.2% 1.2%;
  font-family: $mainFont;
  font-style: normal;
  color: #ffffff;
}
.search-svg {
  margin-left: 3%;
}
.filter {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.category {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-left: 5%;
  color: #000000;
  width: 20%;
}
.location {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}
.transportation {
  padding-bottom: 2%;
}
.search-location {
  border: none;
  width: 80%;
  margin-right: 4%;
}
.lines {
  border: 0.5px solid #969696;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3%;
  margin-bottom: 1.3%;
}

.seasons,
.themes,
.transportation {
  display: flex;
  flex-direction: row;
}
.season,
.theme{
  font-family: $koreanFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5%;
  border-radius: 6px;
  padding-left: 1%;
  padding-right: 1%;
  color: #9f9f9f;
}
.season-clicked, .theme-clicked{
  font-family: $koreanFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5%;
  border-radius: 6px;
  padding-left: 1%;
  padding-right: 1%;
}
.season:hover,
.season-clicked:hover,
.theme:hover,
.theme-clicked:hover {
  background-color: #f3f4f5;
}

.season-clicked,
.theme-clicked {
  color: #57ceb9;
}
.days {
  display: flex;
}

.search-days {
  border: none;
  width: 50%;
}
.sorting{
  margin-left: 2%;
  border-radius: 3px;
  font-family: $koreanFont;
  font-style: normal;

  align-items: flex-end;
}

.sorting-clicked{
  margin-left: 2%;
  color: $darkMintColor;
  border-radius: 3px;
  font-family: $koreanFont;
  font-style: normal;
}

.sorting:hover, .sorting-clicked:hover{
  background-color:#f3f4f5;
}
.search-title{
  display: flex;
  flex-direction: row;
}