@import "../../Variables/Variables.scss";

.serviceInfo {
  margin: 100px auto;
  width: 80vw;

  .line {
    margin: 100px auto;
    width: 200px;
    border: 1px solid $lightGrayColor;
  }
  .service-header {
    font-family: $mainFont;
    font-weight: 600;
    font-size: 20px;
    color: #969696;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-subtitle {
      margin-top: 10px;
      margin-left: 15px;
    }
  }

  .service-content {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    background-color: $whiteColor;
    padding: 30px;
    font-family: $koreanFont;
    font-weight: 500;
    .item {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      background-color: white;
      border-radius: 6px;
      padding: 50px 0;
      .icon {
        width: 50%;
        margin-bottom: 50px;
      }
      .item-title {
        margin: 0 auto;
        color: $darkMintColor;
        margin-top: 10px;
      }
      .item-description {
        margin-top: 20px;
        width: 70%;
        color: $darkGrayColor;
        font-family: $mainFont;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
