@import '../../Variables/Variables.scss';

.userinfo-container {
    .title {        
        display: flex;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: $darkMintColor;
        margin-left: 10%;
    }
    .route-list-title {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    
    .user-posts {
        width: 1120px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .user-post {
            margin-top: 20px;
        }
    }
}
